GCP_PROJECT_ID=your-project-id-here
GCP_REGION=us-central1
PUBSUB_TOPIC=customer-events
BQ_DATASET=churn_dataset
BQ_RAW_TABLE=raw_events
GCP_BUCKET=churn-model-artifacts
GOOGLE_APPLICATION_CREDENTIALS=credentials/service_account.json
